<h1>My Favorite Movies</h1>
<% @movies.each do |movie| %>
	<%= link_to movie.title, movie %> | <%= link_to 'Delete', movie, method: :delete, data: {confirm: 'Are you sure?'} %>

	<hr>
<% end %>
<%= link_to 'Back', :back %>